<div class="container">
  <div class="title"><img src="https://storage.googleapis.com/demo-resources/logo.png" alt=""></div>
  <div id="date"></div>
  <div id="webchat" class="only__microphone" role="main"></div>
</div>
<script>
  document.getElementById("date").innerHTML = new Date().toLocaleDateString('en', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });;

  const styleSet = window.WebChat.createStyleSet({
    backgroundColor: '#f0f0fc',
    bubbleBackground: '#d6d2eb',
    bubbleFromUserBackground: '#554496',
    bubbleFromUserTextColor: "white",
    bubbleFromUserBorderRadius: 10,
    bubbleBorderRadius: 10,
    sendBoxBackground: "#f0f0fc",
    microphoneButtonColorOnDictate: "white",
    sendBoxButtonColorOnHover: '#554496',
    primaryFont: 'Inter',
    monospaceFont: 'Inter'
  });

  const avatarOptions = {
    // botAvatarImage: 'https://image.flaticon.com/icons/png/512/194/194938.png',
    botAvatarInitials: 'AW',
    // userAvatarImage: 'https://image.flaticon.com/icons/png/512/147/147144.png',
    userAvatarInitials: 'HM',
    sendBoxDisabledTextColor: true,
    hideUploadButton: true,
  };

  (async function () {

    const RENEW_EVERY = 600;
    let fetchPromise;
    let lastFetch = 0;

    async function fetchCredentials() {
      const now = Date.now();

      if (!fetchPromise || now - lastFetch > RENEW_EVERY) {
        fetchPromise = fetch('https://eastus.api.cognitive.microsoft.com/sts/v1.0/issueToken',
          { method: 'POST', headers: { "Content-type": "application/x-www-form-urlencoded", "Content-length": "0", "Ocp-Apim-Subscription-Key": "843edfcfca4d44f087e623d4634b4353" } })
          .then(res => res.text())
          .catch(() => {
            lastFetch = 0;
          });

        lastFetch = now;
      }
      const region = "eastus";
      let authorizationToken = await fetchPromise;

      return { authorizationToken, region };
    }

    const adapters = await window.WebChat.createDirectLineSpeechAdapters({
      fetchCredentials
    });

    window.WebChat.renderWebChat(
      {
        ...adapters,
        styleSet,
        styleOptions: avatarOptions
      },
      document.getElementById('webchat')
    );

    document.querySelector('#webchat > *').focus();
    document.querySelector('button').addEventListener('click', function () {
      var context = new AudioContext();
    });
  })().catch(err => console.error(err));
</script>
