<title>Sociate Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
<script crossorigin="anonymous" src="https://cdn.botframework.com/botframework-webchat/latest/webchat.js"></script>
<style>
    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
      outline: none;
    }

    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .2);
      border-radius: 5px;
    }

    .container {
      min-height: 100vh;
      background: #f0f0fc;

    }

    #webchat {
      height: calc(100vh - 100px);
      width: 100%;
    }

    #date {
      text-align: center;
      font-family: 'Inter';
      padding: 15px;
      color: #747474;
      font-size: 12px;
    }

    .title {
      background: #f0f0fc;
      text-align: center;
      padding: 15px;
      font-family: sans-serif;
      border-bottom: 1px solid #dddae8;
      font-weight: bold;
    }

    .title img {
      height: 20px;
    }

    .webchat__basic-transcript__focus-indicator {
      border: none !important;
    }

    .webchat__basic-transcript {
      padding: 0 15%;
    }

    .webchat__send-box__main {
      padding: 15px 10%;
      justify-content: flex-end;
      gap: 20px;
    }

    .webchat__send-box__dictation-interims {
      flex: initial !important;
    }

    .webchat__send-box__microphone-button {
      flex: initial !important;
    }

    .webchat__send-box-text-box__input {
      display: none;
    }

    .webchat__send-box__main .webchat__microphone-button--dictating .webchat__icon-button {
      background: #554496 !important;
    }

    .webchat__send-box__main .webchat__icon-button {
      border-radius: 50%;
      background: #AB99CB !important;
    }

    .webchat__microphone-button__icon {
      fill: white !important;
    }

    .only__microphone .webchat__basic-transcript {
      display: none !important;
    }
    .only__microphone .webchat__send-box__microphone-button {
      align-self: center !important
    }

    .only__microphone .webchat__send-box {
      margin-top: 150px !important;
    }

    .only__microphone .webchat__send-box__main {
      border: none !important;
      margin: 0 auto;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
    }

    .only__microphone .webchat__microphone-button__icon {
      width: 30px;
      height: 30px;
    }

    .only__microphone .webchat__microphone-button__button {
      width: 70px !important;
      height: 70px !important;
    }

    .only__microphone .webchat__send-box__dictation-interims {
      justify-content: center !important;
    }

</style>
