<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root" role="main"></div>
<script>! function(e) {
function t(t) {
    for (var n, i, a = t[0], p = t[1], l = t[2], f = 0, s = []; f < a.length; f++) i = a[f], Object.prototype.hasOwnProperty.call(o, i) && o[i] && s.push(o[i][0]), o[i] = 0;
    for (n in p) Object.prototype.hasOwnProperty.call(p, n) && (e[n] = p[n]);
    for (c && c(t); s.length;) s.shift()();
    return u.push.apply(u, l || []), r()
}

function r() {
    for (var e, t = 0; t < u.length; t++) {
        for (var r = u[t], n = !0, a = 1; a < r.length; a++) {
            var p = r[a];
            0 !== o[p] && (n = !1)
        }
        n && (u.splice(t--, 1), e = i(i.s = r[0]))
    }
    return e
}
var n = {},
    o = {
        1: 0
    },
    u = [];

function i(t) {
    if (n[t]) return n[t].exports;
    var r = n[t] = {
        i: t,
        l: !1,
        exports: {}
    };
    return e[t].call(r.exports, r, r.exports, i), r.l = !0, r.exports
}
i.m = e, i.c = n, i.d = function(e, t, r) {
    i.o(e, t) || Object.defineProperty(e, t, {
        enumerable: !0,
        get: r
    })
}, i.r = function(e) {
    "undefined" != typeof Symbol && Symbol.toStringTag && Object.defineProperty(e, Symbol.toStringTag, {
        value: "Module"
    }), Object.defineProperty(e, "__esModule", {
        value: !0
    })
}, i.t = function(e, t) {
    if (1 & t && (e = i(e)), 8 & t) return e;
    if (4 & t && "object" == typeof e && e && e.__esModule) return e;
    var r = Object.create(null);
    if (i.r(r), Object.defineProperty(r, "default", {
            enumerable: !0,
            value: e
        }), 2 & t && "string" != typeof e)
        for (var n in e) i.d(r, n, function(t) {
            return e[t]
        }.bind(null, n));
    return r
}, i.n = function(e) {
    var t = e && e.__esModule ? function() {
        return e.default
    } : function() {
        return e
    };
    return i.d(t, "a", t), t
}, i.o = function(e, t) {
    return Object.prototype.hasOwnProperty.call(e, t)
}, i.p = "/BotFramework-WebChat/06.recomposing-ui/b.speech-ui/";
var a = this["webpackJsonpsample-customization-speech-ui"] = this["webpackJsonpsample-customization-speech-ui"] || [],
    p = a.push.bind(a);
a.push = t, a = a.slice();
for (var l = 0; l < a.length; l++) t(a[l]);
var c = p;
r()
}([])</script>
<script src="https://storage.googleapis.com/demo-resources/build/static/js/2.d774dbcc.chunk.js"></script>
<script src="https://storage.googleapis.com/demo-resources/build/static/js/main.2e8f88f8.chunk.js"></script>
