<meta charset="utf-8" />
<link rel="shortcut icon" href="https://uploads-ssl.webflow.com/5fd770a6c7dc601db0c55667/5fe0caf1679d16ec8b03dd17_sociate_favicon.png" />
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
<meta name="theme-color" content="#000000"/>
<title>Sociate AI Demo: Voice Emotionally AI Assistants</title>
<h3>Say an animal, I'll answer you with a different voice according to your pronunciation</h3>
<link href="https://storage.googleapis.com/demo-resources/build/static/css/main.a8bcd1f0.chunk.css" rel="stylesheet">
